# Sport Vouchers Program Analysis

The goal of this Portfolio task is to explore data from the Federal Government Sport Vouchers program - this is a
program that provides up to two $100 vouchers for kids to participate in organised sport. Here's the [NSW Active Kids page](https://www.service.nsw.gov.au/transaction/apply-active-kids-voucher), there are similar schemes in other states - this data is from South Australia.

This is an exercise in exploring data and communicating the insights you can gain from it.  The source data comes
from the `data.gov.au` website and provides details of all Sport Vouchers that have been redeemed since February  in SA 2015 as part of the Sport Voucher program:  [Sports Vouchers Data](https://data.gov.au/dataset/ds-sa-14daba50-04ff-46c6-8468-9fa593b9f100/details).  This download is provided for you as `sportsvouchersclaimed.csv`.

To augment this data you can also make use of [ABS SEIFA data by LGA](http://stat.data.abs.gov.au/Index.aspx?DataSetCode=ABS_SEIFA_LGA#) which shows a few measures of Socioeconomic Advantage and Disadvantage for every Local Government Area. This data is provided for you as `ABS_SEIFA_LGA.csv`. This could enable you to answer questions about whether the voucher program is used equally by parents in low, middle and high socioeconomic areas.   You might be interested in this if you were concerned that this kind of program might just benifit parents who are already advantaged (they might already be paying for sport so this program wouldn't be helping much).

Questions:
* Describe the distribution of vouchers by: LGA, Sport - which regions/sports stand out? 
* Are some sports more popular in different parts of the state?
* Are any electorates over/under represented in their use of vouchers?
* Is there a relationship between any of the SEIFA measures and voucher use in an LGA?

A challenge in this task is to display a useful summary of the data given that there are a large number of LGAs and sports involved.  Try to avoid long lists and large tables. Think about what plots and tables communicate the main points of your findings.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# read the sports vouchers data
sa_vouchers = pd.read_csv("sportsvouchersclaimed.csv")
sa_vouchers.head()

,Participant_ID,Participant_Suburb,Club_Previous_Member,Participant_ATSI_Indicator,Participant_CALD_Indicator,Participant_Sex,Voucher_Value,Club_Name,Voucher_Sport,Participant_LGA,Participant_Electorate,Voucher_Completion_Date,Voucher_Claim_Year
0,1000002,ABERFOYLE PARK,Registered Previously,Not ATSI,Not CALD,Male,50,Flagstaff Hill Football Club,Australian Rules,ONKAPARINGA,FISHER,26/6/15 1:19,2015
1,1000002,ABERFOYLE PARK,Registered Previously,Not ATSI,Not CALD,Male,50,Flagstaff Hill Football Club,Australian Rules,ONKAPARINGA,FISHER,29/6/16 23:55,2016
2,1000004,ABERFOYLE PARK,Not Registered Previously,Not ATSI,Not CALD,Female,50,Hub Gymnastics Club,Gymnastics,ONKAPARINGA,FISHER,21/4/16 3:37,2016
3,1000004,ABERFOYLE PARK,Registered Previously,Not ATSI,Not CALD,Female,50,Hub Gymnastics Club,Gymnastics,ONKAPARINGA,FISHER,30/3/17 0:47,2017
4,1000005,ABERFOYLE PARK,Registered Previously,Not ATSI,Not CALD,Female,50,Blackwood Community Recreation Association,Gymnastics,ONKAPARINGA,FISHER,20/7/15 2:50,2015

The SEIFA data includes row for each Local Government Area (LGA) but the names of the LGAs have a letter or letters in brackets after the name.  To allow us to match this up with the voucher data we remove this and convert to uppercase. 

For each LGA the data includes a number of measures all of which could be useful in your exploration.

In [51]:
# read the SEIFA data, create an LGA column by removing the letters in brackets and converting to uppercase
seifa = pd.read_csv('ABS_SEIFA_LGA.csv')
seifa = seifa[seifa.LGA_2011.astype(str).str[0]=='4']
lga = seifa["Local Government Areas - 2011"].str.replace(' \([ACSRCDMT]+\)', '').str.upper()
seifa['LGA'] = lga
seifa.head()

<ipython-input-51-1896cf568937>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  lga = seifa["Local Government Areas - 2011"].str.replace(' \([ACSRCDMT]+\)', '').str.upper()

,LGA_2011,Local Government Areas - 2011,INDEX_TYPE,Index Type,MEASURE,Measure,Value,LGA
1228,40070,Adelaide (C),IRSAD,Index of Relative Socio-economic Advantage and...,SCORE,Score,1036,ADELAIDE
1229,40070,Adelaide (C),IRSAD,Index of Relative Socio-economic Advantage and...,MINS,Minimum score for SA1s in area,909,ADELAIDE
1230,40070,Adelaide (C),IRSAD,Index of Relative Socio-economic Advantage and...,MAXS,Maximum score for SA1s in area,1141,ADELAIDE
1231,40070,Adelaide (C),IRSAD,Index of Relative Socio-economic Advantage and...,URP,Usual resident population,19606,ADELAIDE
1232,40120,Adelaide Hills (DC),IRSAD,Index of Relative Socio-economic Advantage and...,SCORE,Score,1077,ADELAIDE HILLS

Since there are many rows per LGA we need to use `pivot_table` to create a new data frame with one row per LGA. Here
is an example of doing this to create a table with the different SCORE measures and the population (URP) field.

In [4]:
LGA_scores = seifa[seifa.MEASURE == 'SCORE'].pivot_table(index="LGA", columns=["INDEX_TYPE"], values="Value")
LGA_scores.head()
LGA_pop = seifa[seifa.MEASURE == 'URP'].pivot_table(index="LGA", columns=["INDEX_TYPE"], values="Value")
LGA_scores['Population'] = LGA_pop.IEO
LGA_scores.head()

INDEX_TYPE         IEO     IER   IRSAD    IRSD  Population
LGA
ADELAIDE         874.0   874.0  1036.0  1013.0     19606.0
ADELAIDE HILLS  1083.0  1083.0  1077.0  1081.0     38601.0
ALBANY           999.0   999.0   977.0   987.0     33614.0
ALBURY           964.0   964.0   967.0   979.0     47851.0
ALEXANDRINA     1000.0  1000.0   969.0   987.0     23693.0

This data frame can then be joined with the vouchers data fram to create one master data frame containing both the voucher data and the SEIFA measures.

In [5]:
sa_vouchers_scores = sa_vouchers.join(LGA_scores, on='Participant_LGA')
sa_vouchers_scores.head()

,Participant_ID,Participant_Suburb,Club_Previous_Member,Participant_ATSI_Indicator,Participant_CALD_Indicator,Participant_Sex,Voucher_Value,Club_Name,Voucher_Sport,Participant_LGA,Participant_Electorate,Voucher_Completion_Date,Voucher_Claim_Year,IEO,IER,IRSAD,IRSD,Population
0,1000002,ABERFOYLE PARK,Registered Previously,Not ATSI,Not CALD,Male,50,Flagstaff Hill Football Club,Australian Rules,ONKAPARINGA,FISHER,26/6/15 1:19,2015,996.0,996.0,975.0,993.0,159517.0
1,1000002,ABERFOYLE PARK,Registered Previously,Not ATSI,Not CALD,Male,50,Flagstaff Hill Football Club,Australian Rules,ONKAPARINGA,FISHER,29/6/16 23:55,2016,996.0,996.0,975.0,993.0,159517.0
2,1000004,ABERFOYLE PARK,Not Registered Previously,Not ATSI,Not CALD,Female,50,Hub Gymnastics Club,Gymnastics,ONKAPARINGA,FISHER,21/4/16 3:37,2016,996.0,996.0,975.0,993.0,159517.0
3,1000004,ABERFOYLE PARK,Registered Previously,Not ATSI,Not CALD,Female,50,Hub Gymnastics Club,Gymnastics,ONKAPARINGA,FISHER,30/3/17 0:47,2017,996.0,996.0,975.0,993.0,159517.0
4,1000005,ABERFOYLE PARK,Registered Previously,Not ATSI,Not CALD,Female,50,Blackwood Community Recreation Association,Gymnastics,ONKAPARINGA,FISHER,20/7/15 2:50,2015,996.0,996.0,975.0,993.0,159517.0

In [52]:
#Describe the distribution of vouchers by: LGA, Sport - which regions/sports stand out?

sport_cnt = sa_vouchers_scores.Voucher_Sport.value_counts()
lga_cnt = sa_vouchers_scores.Participant_LGA.value_counts()
Vouch_year = sa_vouchers_scores.Voucher_Claim_Year.value_counts()
percent = sport_cnt/sa_vouchers_scores.Voucher_Sport.count()
    
print("Number of vouchers claimed for each sport:\n{}\n\n\nPercentage of vouchers claimed each sport\n{}"
    "\n\n\nNumber of vouchers claimed in each LGA:\n"
    "{}\n\n\nNumber of vouchers claimed in each year:\n{}".format(sport_cnt,percent,lga_cnt,Vouch_year))

Number of vouchers claimed for each sport:
Australian Rules     47224
Netball              24017
Football (Soccer)    15775
Gymnastics            9823
Basketball            6016
Athletics             4518
Tennis                3742
Hockey                3026
Calisthenics          2522
Cricket               1875
Surf Lifesaving       1442
Swimming              1204
Taekwondo              910
Baseball               865
Rugby Union            734
Lacrosse               656
Softball               548
Rugby League           270
Equestrian             265
Squash                 249
Judo                   210
Golf                   188
Table Tennis           166
BMX                    157
Roller Sports          148
Cycling                105
Motorcycling            97
Karate                  91
Diving                  89
Ice Skating             86
Fencing                 84
Volleyball              62
Orienteering            56
Water Polo              48
Motor Sport             45
Sailing                 40
Archery                 34
Touch                   23
Ju Jitsu                22
Rowing                  22
Wrestling               19
Pony Clubs              17
Surf Riding             15
Shooting                 4
Badminton                4
Weightlifting            4
Paralympics              3
Kung Fu (Wu Shu)         2
Bowls                    2
Dancesport               2
Name: Voucher_Sport, dtype: int64


Percentage of vouchers claimed each sport
Australian Rules     0.370309
Netball              0.188330
Football (Soccer)    0.123700
Gymnastics           0.077027
Basketball           0.047175
Athletics            0.035428
Tennis               0.029343
Hockey               0.023728
Calisthenics         0.019776
Cricket              0.014703
Surf Lifesaving      0.011307
Swimming             0.009441
Taekwondo            0.007136
Baseball             0.006783
Rugby Union          0.005756
Lacrosse             0.005144
Softball             0.004297
Rugby League         0.002117
Equestrian           0.002078
Squash               0.001953
Judo                 0.001647
Golf                 0.001474
Table Tennis         0.001302
BMX                  0.001231
Roller Sports        0.001161
Cycling              0.000823
Motorcycling         0.000761
Karate               0.000714
Diving               0.000698
Ice Skating          0.000674
Fencing              0.000659
Volleyball           0.000486
Orienteering         0.000439
Water Polo           0.000376
Motor Sport          0.000353
Sailing              0.000314
Archery              0.000267
Touch                0.000180
Ju Jitsu             0.000173
Rowing               0.000173
Wrestling            0.000149
Pony Clubs           0.000133
Surf Riding          0.000118
Shooting             0.000031
Badminton            0.000031
Weightlifting        0.000031
Paralympics          0.000024
Kung Fu (Wu Shu)     0.000016
Bowls                0.000016
Dancesport           0.000016
Name: Voucher_Sport, dtype: float64


Number of vouchers claimed in each LGA:
ONKAPARINGA          12782
SALISBURY             8169
TEA TREE GULLY        7219
PLAYFORD              6940
CHARLES STURT         6897
                     ...
FRANKLIN HARBOUR       155
ORROROO/CARRIETON      137
FLINDERS RANGES        102
PETERBOROUGH            45
COOBER PEDY             39
Name: Participant_LGA, Length: 69, dtype: int64


Number of vouchers claimed in each year:
2016    51959
2015    43197
2017    32370
Name: Voucher_Claim_Year, dtype: int64

In [61]:
#Are some sports more popular in different parts of the state?
sa_vouchers_scores.Participant_LGA[sa_vouchers_scores.Voucher_Sport.value_counts()]

47224           Basketball
24017    Football (Soccer)
15775             Baseball
9823     Football (Soccer)
6016      Australian Rules
4518      Australian Rules
3742      Australian Rules
3026               Netball
2522      Australian Rules
1875      Australian Rules
1442               Netball
1204      Australian Rules
910       Australian Rules
865       Australian Rules
734             Gymnastics
656       Australian Rules
548       Australian Rules
270       Australian Rules
265       Australian Rules
249             Gymnastics
210                Netball
188           Calisthenics
166             Gymnastics
157       Australian Rules
148              Athletics
105       Australian Rules
97         Surf Lifesaving
91              Gymnastics
89              Gymnastics
86                 Netball
84                 Netball
62        Australian Rules
56        Australian Rules
48                 Fencing
45        Australian Rules
40            Calisthenics
34        Australian Rules
23                 Netball
22        Australian Rules
22        Australian Rules
19        Australian Rules
17            Calisthenics
15        Australian Rules
4               Gymnastics
4               Gymnastics
4               Gymnastics
3               Gymnastics
2               Gymnastics
2               Gymnastics
2               Gymnastics
Name: Voucher_Sport, dtype: object

In [ ]:
#Are any electorates over/under represented in their use of vouchers?

In [ ]:
#Is there a relationship between any of the SEIFA measures and voucher use in an LGA?

## Challenge - Queensland

_Note: this is an extra task that you might take on to get a better grade for your portfolio.  You can get a good pass grade without doing this._ 

Queensland has a similar program called [Get Started](https://data.gov.au/dataset/ds-qld-3118838a-d425-48fa-bfc9-bc615ddae44e/details?q=get%20started%20vouchers) and we can retrieve data from their program in a similar format.  

The file [round1-redeemed_get_started_vouchers.csv](files/round1-redeemed_get_started_vouchers.csv) contains records of the vouchers issued in Queensland. The date of this data is not included but the program started in 2015 so it is probably from around then.  

The data includes the LGA of the individual but the name of the activity is slightly different.  To do a comparable analysis you would need to map the activity names onto those from South Australia.

In [ ]:
qld_vouchers = pd.read_csv('round1-redeemed_get_started_vouchers.csv')
qld_vouchers.head()

In [ ]:
# Join the QLD data with the LGA data as before to get population and SIEFA data integrated
qld_vouchers['LGA'] = qld_vouchers['Club Local Government Area Name'].str.replace(' \([RC]+\)', '').str.upper()
qld_vouchers_scores = qld_vouchers.join(LGA_scores, on='LGA')
qld_vouchers_scores.head()